##### EN TRADUCCION #####
coursera-flex-calc1
coursera-innovative
coursera-design
coursera-bigidea
coursera-maththink
coursera-usuniversities
coursera-rprog
coursera-interactivepython
coursera-modernpoetry
coursera-publicspeak
##### EN REVISION #####
coursera-innovativeideas
coursera-gamification
coursera-cs101
coursera-humanphysio
coursera-socialpsychology
coursera-thinkagain
##### FINALIZADOS #####
coursera-android
coursera-lead-ei
coursera-basicwriting
coursera-intrologic
coursera-marketing
coursera-researchmethods
coursera-teach1
coursera-repdata
coursera-flex-compstrategy
coursera-jefferson
coursera-introphil
coursera-learning
coursera-modelthinking
coursera-globalhealthintro
coursera-songwriting
coursera-teach2
coursera-operations
coursera-criticalthinking
coursera-amnhearth
coursera-ucimacroeconomics
coursera-humankind
coursera-hciucsd
coursera-animalbehav
coursera-plantknows
coursera-strategy101
coursera-guitar
coursera-microecon
coursera-introfinance
coursera-modernmiddleeast
coursera-flex-childnutrition
